/* Credit: GitHub Nav Bar */

#logo {
	height: 28px; 
	background: -webkit-linear-gradient(top, #FAFAFA, #EAEAEA); 
	border-bottom: 1px solid #CACACA;
}

#actions {
	float: right;
	display: block;
	padding: 7px;
}

#status {
	float: left;
	display: block;
	padding: 7px;
	font-size: 13px;
}

a {
	color: black;
	font-weight: bold;
	font-size: 13px;
	cursor: default;
}

a:first-child {
	padding-right: 10px;
}

a:hover {
	color: #4183C4;
	text-decoration: none;
}

/* Orion logo */
h1 {
	font-size: 16px;
	letter-spacing: 1px;
	margin-top: -2px;
}

/* status */
h2 {
	diplay: block;
	margin-top: -25px;
	margin-left: 60px;
	font-weight: normal;
	font-size: 12px;
}